.stock-anlys {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stock-anlys .srch-btn {
  background-color: #321570;
  color: white;
  border: none;
}

.stock-anlys .srch-inp {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buy-btn {
  background-color: #321570;
  color: white;
}

.buy-btn:hover {
  border: 1px solid black;
}

.sell-btn {
  background-color: #f9a785;
  color: black;
}

.sell-btn:hover {
  border: 1px solid black;
  color: #321570;
}

.stock-anlys .stock-img {
  max-width: 40px;
  max-height: 40px;
}

.stock-anlys .stock-graph {
  background: linear-gradient(180deg, #321570 0%, #000000 100%);
  border-radius: 46px;
  width: 80%;
  height: 55vh;
  border: 1px solid #d0c8c8;
}
